/* 
Website Formatting for Embedded GitHub Gistsborder
Includes Normal Mode & Dark Mode Toggle

Created on Wed Jan 18 19:23:00 2023
@author: Pablo Aguirre
GitHub: https://github.com/pabloagn
Website: https://pabloagn.com
Contact: https://pabloagn.com/contact
*/

/* GITHUB GISTS */

/* ALL OBJECTS */
/* ------------ */
/* Gist Background */
.gist
{
    background: transparent !important;
}

/* Meta Bottom tag */
.gist .gist-meta
{
	color: var(--e-global-color-primary) !important;
	background-color: var(--e-global-color-19c43af) !important;
	border-radius: 0 0 6px 6px !important;
}

.gist .gist-meta a
{
	color: var(--e-global-color-primary) !important;
}

.gist .gist-meta a:hover
{
	color: var(--e-global-color-db8558a) !important;
}

/* BOXES */
/* ------------ */
/* Borders & Drop Shadow */
.gist .gist-file
{
    border-color: var(--e-global-color-bff6976) !important;
    filter: drop-shadow(5px 5px 10px var(--e-global-color-2bd078d)) !important;
}

/* Markdown Padding */
.gist .gist-file article {
    padding: 30px !important;
}

/* CODE SNIPPETS */
/* ------------ */
/* Code Snippet Line Background */
.gist .highlight
{
    background: var(--e-global-color-19c43af) !important;
}

/* Line number */
.gist .blob-num,
/* Parenthesis & Brackets */
.gist .blob-code-inner,
.gist .pl-s1 .pl-s2,
.gist .pl-smi,
.gist .pl-smp,
.gist .pl-stj,
.gist .pl-vo,
.gist .pl-vpf
{
    color: var(--e-global-color-4736028) !important;
}

/* Line Numbers Hover */
.gist .blob-num:hover
{
    color: var(--e-global-color-accent) !important;
}

/* Line Numbers Border */
.gist .blob-num
{
    border-style: none !important;
}

/* Comments */
.gist .pl-c,
.gist .pl-c span
{
    color: var(--e-global-color-b340e16) !important;
    font-style: italic !important;
}

.gist .pl-c1,
.gist .pl-pds,
/* Code inside parenthesis */
.gist .pl-s1,
.gist .pl-s1 .pl-pse .pl-s2,
.gist .pl-sv
{
    color: var(--e-global-color-792f33c) !important;
}

.gist .pl-e,
.gist .pl-ent,
/* Strings and docstrings */
.gist .pl-s,
.gist .pl-v
{
    color: var(--e-global-color-d0581ac) !important;
}

/* For & Return Statements */
.gist .pl-k,
/* Print Statements & Methods */
.gist .pl-en,
.gist .pl-mdh,
.gist .pl-mdr,
.gist .pl-ml,
.gist .pl-mm,
.gist .pl-mo,
.gist .pl-mp,
.gist .pl-mr,
.gist .pl-ms,
.gist .pl-s1 .pl-v,
.gist .pl-s3
{
    color: var(--e-global-color-accent) !important;
}

/* TABULAR DATA */
/* ------------ */
/* Headings */
.gist th,
/* */
.gist td
{
    border-color: var(--e-global-color-bff6976) !important;
}

/* Headings Background Color */
.gist th
{
    background-color: var(--e-global-color-2ed4fd3) !important;
}

/* MARKDOWN */
/* ------------ */
/* Headings */
.gist .markdown-body h1,
.gist .markdown-body h2,
.gist .markdown-body h3,
.gist .markdown-body h4,
.gist .markdown-body h5,
.gist .markdown-body h6
{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10 !important;
    line-height: 1.25 !important;
}

.gist .markdown-body p
{
    font-family: var( --e-global-typography-secondary-font-family ) !important;
    font-size: var( --e-global-typography-secondary-font-size ) !important;
    font-weight: var( --e-global-typography-secondary-font-weight ) !important;
    padding-bottom: 10px !important !important;
}

.gist .markdown-body li
{
    font-family: var( --e-global-typography-secondary-font-family ) !important;
    font-size: var( --e-global-typography-secondary-font-size ) !important;
    font-weight: var( --e-global-typography-secondary-font-weight ) !important;
}

.gist .markdown-body h1
{
    font-family: var( --e-global-typography-2d44508-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-2d44508-font-size ) !important;
    font-weight: var( --e-global-typography-2d44508-font-weight ) !important;
    line-height: var( --e-global-typography-2d44508-line-height ) !important;
    letter-spacing: var( --e-global-typography-2d44508-letter-spacing ) !important;
    word-spacing: var( --e-global-typography-2d44508-word-spacing ) !important;
}

.gist .markdown-body h2
{
    font-family: var( --e-global-typography-c76c0ab-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-c76c0ab-font-size ) !important;
    font-weight: var( --e-global-typography-c76c0ab-font-weight ) !important;
    line-height: var( --e-global-typography-c76c0ab-line-height ) !important;
    letter-spacing: var( --e-global-typography-c76c0ab-letter-spacing ) !important;
    word-spacing: var( --e-global-typography-c76c0ab-word-spacing ) !important;
}

.gist .markdown-body h3
{
    font-family: var( --e-global-typography-beaff97-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-beaff97-font-size ) !important;
    font-weight: var( --e-global-typography-beaff97-font-weight ) !important;
    line-height: var( --e-global-typography-beaff97-line-height ) !important;
    letter-spacing: var( --e-global-typography-beaff97-letter-spacing ) !important;
    word-spacing: var( --e-global-typography-beaff97-word-spacing ) !important;
}

.gist .markdown-body h4
{
    font-family: var( --e-global-typography-11b54b3-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-11b54b3-font-size ) !important;
    font-weight: var( --e-global-typography-11b54b3-font-weight ) !important;
    line-height: var( --e-global-typography-11b54b3-line-height ) !important;
    letter-spacing: var( --e-global-typography-11b54b3-letter-spacing ) !important;
    word-spacing: var( --e-global-typography-11b54b3-word-spacing ) !important;
}

.gist .markdown-body h5
{
    font-family: var( --e-global-typography-789f625-font-family ), Sans-serif !important;
    font-size: var( --e-global-typography-789f625-font-size ) !important;
    font-weight: var( --e-global-typography-789f625-font-weight ) !important;
    line-height: var( --e-global-typography-789f625-line-height ) !important;
    letter-spacing: var( --e-global-typography-789f625-letter-spacing ) !important;
    word-spacing: var( --e-global-typography-789f625-word-spacing ) !important;
}

/* Separator (---) */
.gist .markdown-body hr {
    height: 1px !important;
    width: 7% !important;
    padding: 0 !important;
    background-color: var(--e-global-color-secondary) !important;
    border: 0 !important;
    margin: 50px auto 50px auto !important;
  }

/* DARK MODE */
/* ------------ */
/* Boxes Dark */
.dark .gist .gist-file
{
    border-color: var(--e-global-color-primary) !important;
}

.dark .gist .markdown-body
{
	color: var(--e-global-color-primary) !important;
	background-color: var(--e-global-color-secondary) !important;
}

.dark .gist td,
.dark .gist th
{
    color: var(--e-global-color-primary) !important;
    background: var(--e-global-color-secondary) !important;
    border-color: var(--e-global-color-5260874) !important;
}

.dark .form-control
{
    color: var(--e-global-color-primary) !important;
    background: var(--e-global-color-secondary) !important;
}

.dark .octicon-search
{ 
    -webkit-filter: invert(1) !important;
    filter: invert(1) !important;
}

.dark .gist .gist-meta
{
	background-color: var(--e-global-color-secondary) !important;
}

/* Separator (---) */
.dark .gist .markdown-body hr {
    background-color: var(--e-global-color-primary) !important;
  }