/* 
Website Formatting for Embedded GitHub Gistsborder
Includes Normal Mode & Dark Mode Toggle

Created on Wed Jan 18 19:23:00 2023
@author: Pablo Aguirre
GitHub: https://github.com/pabloagn
Website: https://pabloagn.com
Contact: https://pabloagn.com/contact
*/

/* ALL OBJECTS */
/* ------------ */
/* Gist Background */
.gist
{
    background: transparent !important;
}

/* Meta Bottom tag */
.gist .gist-meta
{
	color: var(--e-global-color-primary) !important;
	background-color: var(--e-global-color-19c43af) !important;
	border-radius: 0 0 6px 6px !important;
}

/* BOXES */
/* ------------ */
/* Borders & Drop Shadow */
.gist .gist-file
{
    border-color: var(--e-global-color-bff6976) !important;
    filter: drop-shadow(5px 5px 10px var(--e-global-color-2bd078d));
}

/* Markdown Padding */
.gist .gist-file article {
    padding: 30px !important;
}

/* CODE SNIPPETS */
/* ------------ */
/* Code Snippet Line Background */
body .gist .highlight
{
    background: var(--e-global-color-19c43af);
}

/* Line number */
body .gist .blob-num,
/* Parenthesis & Brackets */
body .gist .blob-code-inner,
body .gist .pl-s1 .pl-s2,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo,
body .gist .pl-vpf
{
    color: var(--e-global-color-4736028);
}

/* Line Numbers Hover */
.gist .blob-num:hover
{
    color: var(--e-global-color-accent) !important;
}

/* Line Numbers Border */
body .gist .blob-num
{
    border-style: none !important;
}

/* Comments */
body .gist .pl-c,
body .gist .pl-c span
{
    color: var(--e-global-color-b340e16);
    font-style: italic;
}

body .gist .pl-c1,
body .gist .pl-pds,
/* Code inside parenthesis */
body .gist .pl-s1,
body .gist .pl-s1 .pl-pse .pl-s2,
body .gist .pl-sv
{
    color: var(--e-global-color-792f33c) !important;
}

body .gist .pl-e,
body .gist .pl-ent,
/* Strings and docstrings */
body .gist .pl-s,
body .gist .pl-v
{
    color: var(--e-global-color-d0581ac);
}

/* For & Return Statements */
body .gist .pl-k,
/* Print Statements & Methods */
body .gist .pl-en,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3
{
    color: var(--e-global-color-accent);
}

/* TABULAR DATA */
/* ------------ */
/* Headings */
.gist th,
/* Body */
.gist td
{
    border-color: var(--e-global-color-bff6976) !important;
}

/* Headings Background Color */
.gist th
{
    background-color: var(--e-global-color-2ed4fd3) !important;
}

/* MARKDOWN */
/* ------------ */
/* Headings */
.gist .markdown-body h1,
.gist .markdown-body h2,
.gist .markdown-body h3,
.gist .markdown-body h4,
.gist .markdown-body h5,
.gist .markdown-body h6
{
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10 !important;
    line-height: 1.25 !important;
}

.gist .markdown-body p
{
    font-family: inherit;
    font-size: inherit;
}

.gist .markdown-body li
{
    font-family: Merriweather;
    font-size: 18px;
}

.gist .markdown-body h1
{
    font-family: Cormorant Garamond;
    font-size: 45px !important;
}

.gist .markdown-body h2
{
    font-family: Cormorant Garamond;
    font-size: 35px !important;
}

.gist .markdown-body h3
{
    font-family: Cormorant Garamond;
    font-size: 32px !important;
}

.gist .markdown-body h4
{
    font-family: Cormorant Garamond;
    font-size: 29px !important;
}

.gist .markdown-body h5
{
    font-family: Cormorant Garamond;
    font-size: 26px !important;
}

.gist .markdown-body h6
{
    font-family: Cormorant Garamond;
    font-size: 23px !important;
}

/* Body */
.gist .markdown-body p
{
    padding-bottom: 10px;
}

/* DARK MODE */
/* ------------ */
/* Boxes Dark */
.dark .gist .gist-file
{
    border-color: var(--e-global-color-primary) !important;
    filter: drop-shadow( 5px 5px 10px var(--e-global-color-aa09944));
}

.dark .gist .markdown-body
{
	color: var(--e-global-color-primary);
	background-color: var(--e-global-color-19c43af) !important;
}

.dark .gist td,
.dark .gist th
{
    color: var(--e-global-color-primary);
    background: var(--e-global-color-19c43af) !important;
    border-color: var(--e-global-color-19c43af) !important;
}

.dark .form-control
{
    color: var(--e-global-color-primary);
    background: var(--e-global-color-19c43af) !important;
}

.dark .octicon-search
{ 
    -webkit-filter: invert(1);
    filter: invert(1);
}