# .gitignore file for: portfolio-project - sentiment-analysis-with-python

## Ignore datasets folder
datasets/

## Ignore test file
src/TEST.py

## Ignore Tasks
TASKS.txt

## Ignore additional resources
additionals/

## Ignore input test folder
inputs/

## Ignore README for now
README.md